#app-container {
	height: 100%;
	width: 100%;
}

.heatmap-textbox {
	background: white;
	padding: 8px 16px;
	border-radius: 8px;
}

#data-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
}

#covid-data-map {
	height: 100%;
	width: 50%;
}

#info-container {
	height: 100%;
	width: 50%;
	padding: 8px 16px;
	box-sizing: border-box;

	& > div {
		height: 100%;
	}
}

#mta-chart-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 1rem;

	#ridership-chart {
		min-height: 600px;
	}
}

#animator {
	&-action-group {
		button.MuiButton-root {
			height: 56px;
		}
	}
}

.data-manipulation-dialog {
	.MuiDialog-container > div {
		max-width: 80vw !important;
	}
}

.segment-loader-bar-container {
	display: flex;
	height: 24px;
	width: fit-content;
	box-sizing: border-box;
	border: 2px solid black;
	margin: 16px 8px;
	padding-bottom: 2px;

	.segment-loader-child {
		position: relative;
		height: 100%;
		width: 16px;
		border: 1px solid gray;

		> div {
			position: absolute;
			bottom: 0;
			height: 0;
			width: 100%;
			transition: height 500ms ease-in-out;
		}
		&.loaded > div {
			height: 100%;
			background-color: green;
		}
	}
}
