#app-container {
	height: 100%;
	width: 100%;
}

.heatmap-textbox {
	background: white;
	padding: 8px 16px;
	border-radius: 8px;
}

#data-container {
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
}

#covid-data-map {
	height: 100%;
	width: 50%;
}

#info-container {
	height: 100%;
	width: 50%;
	padding: 8px 16px;
	box-sizing: border-box;

	& > div {
		height: 100%;
	}
}

#mta-chart-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	#ridership-chart {
		min-height: 600px;
	}
}

#animator {
	&-action-group {
		button.MuiButton-root {
			height: 56px;
		}
	}
}
